@import url("https://fonts.googleapis.com/css?family=Sahitya&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: Leiko;font-display: swap;src: url("../assets/fonts/Leiko-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: CabinetGrotesk;font-display: swap;src: url("../assets/fonts/CabinetGrotesk-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: CabinetGrotesk;font-display: swap;src: url("../assets/fonts/CabinetGrotesk-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: CabinetGrotesk;font-display: swap;src: url("../assets/fonts/CabinetGrotesk-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: CabinetGrotesk;font-display: swap;src: url("../assets/fonts/CabinetGrotesk-Extrabold.woff2") format("woff2");font-weight: 800;font-style: normal;}
@font-face {font-family: CabinetGrotesk;font-display: swap;src: url("../assets/fonts/CabinetGrotesk-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?c03f01b44369de67a74520fb86bbfb9a") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-phone"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-patreon"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-likindink"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-language"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-email"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-email-round"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-cart"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-account"]::before { 
		content: "\f10b"; 
	} 

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #F5F7FA;
  font-family: "Cabinet Grotesk";
  font-size: 1rem;
  background: #375B68;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 83.75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.element-title {
  position: relative;
  color: #5E97AB;
  font-weight: 800;
  line-height: 2;
  text-transform: capitalize;
}
.element-title::after {
  content: "";
  background: linear-gradient(90deg, #5E97AB 8.94%, rgba(94, 151, 171, 0) 95.23%);
  width: 51%;
  height: 0.09375rem;
  position: absolute;
  top: 50%;
  left: 20%;
}
[class*=__link] {
  transition: opacity 0.7s ease 0s;
}
[class*=__link]:hover {
  opacity: 0.4;
}/* Generated by vite-plugin-svg-spritemap */
.tabs {
  display: flex;
}
.tabs__navigation {
  display: flex;
  flex-wrap: wrap;
}
.tabs__title {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 3.125rem 3.125rem 0 0;
  flex-shrink: 0;
}
.tabs__title img {
  width: 5.9375rem;
  height: 5.9375rem;
  flex-shrink: 0;
  aspect-ratio: 95/95;
}
.tabs__title.--tab-active {
  background: linear-gradient(90deg, #436e7e 10.28%, #12212e 89.59%);
}
.tabs__content {
  max-width: 90%;
  padding: 1.1875rem 0.50125rem 2.375rem 2.625rem;
  border-radius: 0 2.25rem 2.25rem 2.25rem;
  background: linear-gradient(180deg, #12212e 41.88%, #375b68 92.6%);
}
.tab-body__body {
  line-height: 2; /* 3rem */
  text-transform: capitalize;
}
.tab-body__title {
  font-weight: 700;
}
.tab-body__slide {
  padding-block: 6.25rem;
  display: flex;
  flex-direction: column;
}
.tab-body__slide--activ {
  transform: scale(1.2, 1);
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  border: 0.0625rem solid #f5f7fa;
  padding-block-end: 0.8125rem;
}
.tab-body__slide--activ .tab-body__image {
  height: 100%;
  transform: translateY(-2.5rem);
  position: relative;
  z-index: 2;
}
.tab-body__slide--activ .tab-body__image::after {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0%;
  bottom: 0;
  background: url("../assets/img/catalog/activ.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
}
.tab-body__slide--activ .tab-body__image .tab-body__img {
  scale: 1.02;
}
.tab-body__image {
  display: flex;
  padding: 0.5468125rem 0.5771875rem 0.5359375rem 0.6075625rem;
}
.tab-body__img {
  width: 100%;
  aspect-ratio: 226.499/224.243;
  object-fit: cover;
}
.tab-body__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 0.5625rem;
}
.tab-body__subtitle {
  text-align: justify;
  font-weight: 500;
}
.tab-body__desc {
  display: flex;
  flex-direction: row-reverse;
}/* Generated by vite-plugin-svg-spritemap */
.shop {
  display: flex;
  justify-content: center;
  row-gap: 0.9375rem;
}
.shop__body {
  flex: 1 1 59.647%;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  line-height: 2; /* 3rem */
  text-transform: capitalize;
}
.shop__title {
  font-weight: 700;
}
.shop__button {
  align-self: flex-end;
  font-size: 1.375rem;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: capitalize;
  transition: opacity 0.4s;
}
.shop__picture {
  flex: 0 1 auto;
  position: relative;
  z-index: 2;
}
.shop__picture::before, .shop__picture::after {
  content: "";
  background-image: url("../assets/img/shop/cloud.webp");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.shop__picture::before {
  right: 25%;
  top: 25%;
  z-index: -1;
}
.shop__picture::after {
  top: 70%;
  left: 15%;
}
.shop__image {
  aspect-ratio: 385/340;
  object-fit: contain;
}/* Generated by vite-plugin-svg-spritemap */
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0rem, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__item {
  display: flex;
  padding: 0rem 0.625rem;
  width: 6.25rem;
  text-align: center;
  transition: opacity 0.8s ease 0s;
  position: relative;
}
.menu__link {
  padding-inline: 0.625rem;
  color: #F5F7FA;
  font-family: "Cabinet Grotesk";
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  transition: opacity 0.8s ease 0s, top 0.8s ease 0s;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.8125rem;
  height: 2.8125rem;
  background-image: url(../assets/img/header/feather.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
  transition: opacity 1.2s ease;
}
.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  inset-inline: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__buttons {
  display: flex;
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
}
.header--scroll {
  background-color: #375B68;
}
.header--scroll .header__container {
  padding-block: 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  padding-block-end: 1.375rem;
  position: relative;
}
.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/footer/01.webp");
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
}
.footer::after {
  content: "";
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
  row-gap: 1.25rem;
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}
.footer__item {
  padding: 1.25rem 1.875rem;
}
.footer__link {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-block-end: 1.75rem;
}
.footer__items {
  display: grid;
  gap: 1.75rem;
}
.footer__social {
  padding-block-start: 1.5625rem;
  padding-block-end: 3.9375rem;
  display: flex;
  justify-content: end;
  gap: 0.625rem;
  align-items: end;
}
.footer__cory {
  color: rgba(245, 247, 250, 0.55);
  font-family: "Leiko";
  text-align: center;
  text-transform: capitalize;
}
.footer__cory p:not(:last-child) {
  padding: 0rem 0rem 0.5rem 0rem;
}
.footer__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__items {
  display: grid;
  gap: 1.75rem;
}
.contact__item {
  padding: 0.625rem 0.5rem;
  display: grid;
  align-items: center;
}
.contact__link {
  text-transform: capitalize;
}
.contact__link::before {
  padding-inline-end: 0.625rem;
}

.social-footer {
  display: flex;
  align-items: center;
}
.social-footer__media {
  text-transform: capitalize;
}
.social-footer__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}/* Generated by vite-plugin-svg-spritemap */
.save {
  display: flex;
  row-gap: 0.9375rem;
  flex-wrap: wrap;
}
.save__blok {
  color: #F5F7FA;
  font-family: "Cabinet Grotesk";
  display: grid;
  gap: 1.4375rem;
}
.save__title {
  font-weight: 700;
  line-height: 2; /* 6rem */
  text-transform: uppercase;
  opacity: 0.48;
}
.save__text {
  max-width: 27.5625rem;
  font-weight: 300;
  text-transform: capitalize;
  color: #F5F7FA;
}
.save__button {
  flex-shrink: 0;
  align-self: flex-end;
}/* Generated by vite-plugin-svg-spritemap */
.hero-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(112, 166, 185, 0) 0%, #31505c 100%);
  position: relative;
}
.hero-item::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.0625rem solid #e8eaed;
  position: absolute;
  left: -0.125rem;
  top: -0.125rem;
  z-index: -1;
}
.hero-item__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
}
.hero-item__picture {
  max-width: 4.3475rem;
  max-height: 4.3475rem;
  padding-inline: 9.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-item__image {
  width: 100%;
  object-fit: contain;
}
.hero-item__title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2;
}/* Generated by vite-plugin-svg-spritemap */
.button-now {
  padding: 0.308rem;
}
.button-now__link {
  font-size: 0.9239375rem;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.1875rem;
}
.button-now__link span {
  width: 4.125rem;
  border-bottom: 0.0625rem solid #A3A3A3;
  position: absolute;
  right: 25%;
  bottom: 50%;
}
.button-now__link span::before, .button-now__link span::after {
  content: "";
  width: 0.375rem;
  height: 0.0625rem;
  background-color: #A3A3A3;
  position: absolute;
  top: 10%;
  right: 0;
  transform: translateY(0.15625rem);
}
.button-now__link span::before {
  rotate: -135deg;
}
.button-now__link span::after {
  rotate: -45deg;
}
.button-now__link::before {
  content: "";
  width: 3.6340625rem;
  height: 3.6340625rem;
  border-radius: 50%;
  border: 0.0625rem solid #A3A3A3;
}/* Generated by vite-plugin-svg-spritemap */
.form__container {
  display: grid;
  justify-items: center;
  gap: 3.0625rem;
  text-align: center;
  text-transform: capitalize;
}
.form__blok {
  max-width: 31.25rem;
  margin: 0rem auto;
  display: grid;
  gap: 1.5625rem;
  text-align: center;
}
.form__title {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.846; /* 184.615% */
}
.form__text {
  font-size: 1.25rem;
  font-weight: 400;
  padding-inline: 1.875rem;
}
.form__col {
  padding: 0.5rem 2.375rem;
  border-radius: 2.3125rem;
  border: 0.1875rem solid #A3A3A3;
  background-color: rgba(79, 126, 142, 0.35);
}
.form__email {
  padding: 0.625rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.form__email::before {
  font-size: 2.8125rem;
}
.form__input {
  color: rgba(230, 230, 230, 0.56);
  font-size: 1.5rem;
  line-height: 1.54; /* 154.167% */
}
.form__button {
  padding: 0.3125rem;
  border-radius: 9.239125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1.2s ease;
}
.form__button::before {
  content: "";
  width: 3.63375rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.061625rem solid #a3a3a3;
  right: 52%;
}
.form__button span {
  font-size: 0.9239375rem;
  text-transform: capitalize;
  position: relative;
  right: 15%;
  top: -10%;
}
.form__button span span {
  position: absolute;
  left: -10%;
  bottom: -20%;
  width: 75%;
  border-bottom: 0.061625rem solid #a3a3a3;
}
.form__button span span::before, .form__button span span::after {
  content: "";
  width: 0.375rem;
  height: 0.0625rem;
  background-color: #A3A3A3;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(0.15625rem);
}
.form__button span span::before {
  rotate: -135deg;
}
.form__button span span::after {
  rotate: -45deg;
}/* Generated by vite-plugin-svg-spritemap */
.benefit__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4375rem;
  flex-wrap: wrap;
}
.benefit__blok {
  display: flex;
  flex-direction: column;
  line-height: 2; /* 4.5rem */
  text-transform: capitalize;
}
.benefit__title {
  font-size: 2.25rem;
  font-weight: 700;
}
.benefit__text {
  overflow: hidden;
  font-weight: 500;
}
.benefit__link {
  align-self: flex-end;
  font-size: 1.375rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.benefit__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.benefit__control {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}
.benefit__pagination {
  display: flex;
  gap: 0.5625rem;
}

.--icon-arrow {
  font-size: 0.9375rem;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0.5rem 0.59375rem;
}

.swiper-button-prev.--icon-arrow {
  transform: rotate(90deg);
}

.swiper-button-next.--icon-arrow {
  transform: rotate(-90deg);
}

.swiper-pagination-bullet {
  border: 0.125rem solid #daf2ff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.swiper-pagination-bullet-active {
  background: #a3a3a3;
  background: linear-gradient(4deg, rgb(163, 163, 163) 0%, rgb(204, 204, 204) 49%, rgb(163, 163, 163) 100%);
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */

.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: -71rem;
  left: 0;
  border-radius: 50%;
  opacity: 0.8;
  background: linear-gradient(90deg, #111415 -7.37%, #2b3539 102.29%);
  filter: blur(8.71875rem);
  width: 100%;
  height: 100%;
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
  align-items: center;
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.375rem;
}
.hero__blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
  font-family: "Sahity";
  text-transform: uppercase;
  line-height: 1.55;
}
.hero__title {
  font-weight: 700;
  background: linear-gradient(180deg, rgba(121, 121, 121, 0.4) 20.25%, #ababab 69.58%);
  background: linear-gradient(40deg, rgba(121, 121, 121, 0.4) 60%, #ababab 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: color-dodge;
}
.hero__text {
  color: #fff;
  text-align: center;
}
.hero__picture {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero__items {
  max-width: 42.5rem;
  margin: 0rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
}
.hero__items div {
  flex: 0 1 8.375rem;
}

.save-catalog__container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}
.save-catalog__img {
  aspect-ratio: 1440/670;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.save-catalog__body {
  padding: 5.9375rem 0rem 15.625rem 0rem;
  flex: 0 0 60%;
  position: relative;
  right: -6%;
  top: 0;
}

.blog__form {
  padding-block-end: 2.75rem;
  max-width: 48rem;
  margin: 0rem auto;
}

@media (max-width: 61.99875em){
  .shop {
    flex-wrap: wrap;
  }
}

@media (max-width: 55.9375em){
  .footer__container {
    align-items: center;
  }
  .footer__body {
    justify-content: center;
  }
}

@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em){
  .tabs {
    flex-direction: column;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    background-color: #375B68;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    padding: 1.875rem 0rem 0rem 0rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .menu__item {
    flex-direction: column;
  }
  .menu__item:not(:last-child) {
    padding-block-end: 0.9375rem;
  }
  .menu__link {
    font-size: 1.875rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #F5F7FA;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header__icon {
    flex-grow: 1;
  }
}

@media (max-width: 20em){
  .element-title {
    font-size: 1.5625rem;
  }
  .tabs__navigation {
    column-gap: 0.3125rem;
  }
  .tabs__title {
    padding-inline: 0.625rem;
  }
  .tab-body__title {
    font-size: 1.125rem;
  }
  .shop {
    column-gap: 0.625rem;
  }
  .shop__title {
    font-size: 1.25rem;
  }
  .shop__text {
    font-size: 1rem;
  }
  .menu__link {
    font-size: 1rem;
  }
  .header__container {
    padding-block: 1.25rem;
  }
  .header__buttons {
    gap: 1.5rem;
  }
  .header__buttons {
    font-size: 2.1875rem;
  }
  .header--scroll .header__container {
    padding-block: 0.625rem;
  }
  .footer {
    padding-block-start: 3.125rem;
  }
  .footer__body {
    column-gap: 1.6875rem;
  }
  .footer__list {
    column-gap: 1.6875rem;
  }
  .save {
    column-gap: 0.75rem;
  }
  .save__title {
    font-size: 1.125rem;
  }
  .save__text {
    font-size: 0.875rem;
  }
  .hero-item__body {
    padding-inline: 0.9375rem;
  }
  .hero-item__body {
    padding-block-start: 0.625rem;
  }
  .hero-item__body {
    padding-block-end: 1.5rem;
  }
  .benefit__title {
    font-size: 1.75rem;
  }
  .benefit__text {
    font-size: 1rem;
  }
  .page__hero {
    padding-block-start: 3.75rem;
  }
  .page__hero {
    margin-block-end: 1.5625rem;
  }
  .page__sleepy-shop {
    margin-block-end: 2.1875rem;
  }
  .page__blog {
    padding-block-start: 1.875rem;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__text {
    font-size: 1.125rem;
  }
  .hero__items {
    padding: 0.625rem;
  }
  .sleepy-shop__container {
    padding-block-start: 1.875rem;
  }
  .sleepy-shop__container {
    padding-block-end: 0.9375rem;
  }
  .catalog__element-title {
    margin-block-end: 1.25rem;
  }
  .catalog__tab {
    padding-block-end: 0.5rem;
  }
  .catalog__save {
    padding-block-start: 1.25rem;
  }
  .blog__form {
    padding-block-start: 1.875rem;
  }
  .blog__form {
    padding-block-end: 1.875rem;
  }
}

@media (min-width: 20em) and (max-width: 83.75em){
  .element-title {
    font-size: clamp( 1.5625rem , 1.3468137254875rem  +  1.0784313725vw , 2.25rem );
  }
  .tabs__navigation {
    column-gap: clamp( 0.3125rem , -0.07965686274375rem  +  1.9607843137vw , 1.5625rem );
  }
  .tabs__title {
    padding-inline: clamp( 0.625rem , 0.4485294117625rem  +  0.8823529412vw , 1.1875rem );
  }
  .tab-body__title {
    font-size: clamp( 1.125rem , 1.007352941175rem  +  0.5882352941vw , 1.5rem );
  }
  .shop {
    column-gap: clamp( 0.625rem , -1.45343137255rem  +  10.3921568627vw , 7.25rem );
  }
  .shop__title {
    font-size: clamp( 1.25rem , 1.17156862745rem  +  0.3921568627vw , 1.5rem );
  }
  .shop__text {
    font-size: clamp( 1rem , 0.92156862745rem  +  0.3921568627vw , 1.25rem );
  }
  .menu__link {
    font-size: clamp( 1rem , 0.92156862745rem  +  0.3921568627vw , 1.25rem );
  }
  .header__container {
    padding-block: clamp( 1.25rem , 0.95588235294375rem  +  1.4705882353vw , 2.1875rem );
  }
  .header__buttons {
    gap: clamp( 0.5rem , 1.81372549019375rem  +  -1.568627451vw , 1.5rem );
  }
  .header__buttons {
    font-size: clamp( 1.5rem , 2.4031862745125rem  +  -1.0784313725vw , 2.1875rem );
  }
  .header--scroll .header__container {
    padding-block: clamp( 0.625rem , 0.5269607843125rem  +  0.4901960784vw , 0.9375rem );
  }
  .footer {
    padding-block-start: clamp( 3.125rem , -1.16911764705625rem  +  21.4705882353vw , 16.8125rem );
  }
  .footer__body {
    column-gap: clamp( 1.6875rem , 1.491421568625rem  +  0.9803921569vw , 2.3125rem );
  }
  .footer__list {
    column-gap: clamp( 1.6875rem , 1.491421568625rem  +  0.9803921569vw , 2.3125rem );
  }
  .save {
    column-gap: clamp( 0.75rem , -0.79901960784375rem  +  7.7450980392vw , 5.6875rem );
  }
  .save__title {
    font-size: clamp( 1.125rem , 0.53676470588125rem  +  2.9411764706vw , 3rem );
  }
  .save__text {
    font-size: clamp( 0.875rem , 0.678921568625rem  +  0.9803921569vw , 1.5rem );
  }
  .hero-item__body {
    padding-inline: clamp( 0.9375rem , 0.7610294117625rem  +  0.8823529412vw , 1.5rem );
  }
  .hero-item__body {
    padding-block-start: clamp( 0.625rem , 0.5661764705875rem  +  0.2941176471vw , 0.8125rem );
  }
  .hero-item__body {
    padding-block-end: clamp( 1.5rem , 1.3431372549rem  +  0.7843137255vw , 2rem );
  }
  .benefit__title {
    font-size: clamp( 1.75rem , 1.5931372549rem  +  0.7843137255vw , 2.25rem );
  }
  .benefit__text {
    font-size: clamp( 1rem , 0.960784313725rem  +  0.1960784314vw , 1.125rem );
  }
  .page__hero {
    padding-block-start: clamp( 3.75rem , 2.867647058825rem  +  4.4117647059vw , 6.5625rem );
  }
  .page__hero {
    margin-block-end: clamp( 1.5625rem , 0.5625rem  +  5vw , 4.75rem );
  }
  .page__sleepy-shop {
    margin-block-end: clamp( 2.1875rem , 1.0306372549rem  +  5.7843137255vw , 5.875rem );
  }
  .page__blog {
    padding-block-start: clamp( 1.875rem , 0.58088235294375rem  +  6.4705882353vw , 6rem );
  }
  .hero__title {
    font-size: clamp( 2.5rem , 2.02941176470625rem  +  2.3529411765vw , 4rem );
  }
  .hero__text {
    font-size: clamp( 1.125rem , 1.085784313725rem  +  0.1960784314vw , 1.25rem );
  }
  .hero__items {
    padding: clamp( 0.625rem , 0.23284313725625rem  +  1.9607843137vw , 1.875rem );
  }
  .sleepy-shop__container {
    padding-block-start: clamp( 1.875rem , 1.12990196078125rem  +  3.7254901961vw , 4.25rem );
  }
  .sleepy-shop__container {
    padding-block-end: clamp( 0.9375rem , 0.819852941175rem  +  0.5882352941vw , 1.3125rem );
  }
  .catalog__element-title {
    margin-block-end: clamp( 1.25rem , 0.2303921568625rem  +  5.0980392157vw , 4.5rem );
  }
  .catalog__tab {
    padding-block-end: clamp( 0.5rem , -0.08823529411875rem  +  2.9411764706vw , 2.375rem );
  }
  .catalog__save {
    padding-block-start: clamp( 1.25rem , -1.18137254901875rem  +  12.1568627451vw , 9rem );
  }
  .blog__form {
    padding-block-start: clamp( 1.875rem , -0.36029411765rem  +  11.1764705882vw , 9rem );
  }
  .blog__form {
    padding-block-end: clamp( 1.875rem , 1.60049019608125rem  +  1.3725490196vw , 2.75rem );
  }
}

@media (min-width: 47.99875em){
  .tabs__navigation {
    flex-direction: column;
    row-gap: 1.5625rem;
  }
  .tabs__title {
    border-radius: 3.125rem 0 0 3.125rem;
    padding: 0.78125rem 1.744375rem 0.4725rem 1.744375rem;
  }
  .header__icon {
    display: none;
  }
  .save {
    flex-wrap: nowrap;
  }
}

@media (min-width: 61.99875em){
  .benefit__slide {
    flex-wrap: nowrap;
  }
  .benefit__blok {
    max-width: 59.31%;
  }
  .benefit__picture {
    max-width: 38.85%;
  }
}

@media (min-width: 83.75em){
  .element-title {
    font-size: 2.25rem;
  }
  .tabs__navigation {
    column-gap: 1.5625rem;
  }
  .tabs__title {
    padding-inline: 1.1875rem;
  }
  .tab-body__title {
    font-size: 1.5rem;
  }
  .shop {
    column-gap: 7.25rem;
  }
  .shop__title {
    font-size: 1.5rem;
  }
  .shop__text {
    font-size: 1.25rem;
  }
  .menu__link {
    font-size: 1.25rem;
  }
  .header__container {
    padding-block: 2.1875rem;
  }
  .header__buttons {
    gap: 0.5rem;
  }
  .header__buttons {
    font-size: 1.5rem;
  }
  .header--scroll .header__container {
    padding-block: 0.9375rem;
  }
  .footer {
    padding-block-start: 16.8125rem;
  }
  .footer__body {
    column-gap: 2.3125rem;
  }
  .footer__list {
    column-gap: 2.3125rem;
  }
  .save {
    column-gap: 5.6875rem;
  }
  .save__title {
    font-size: 3rem;
  }
  .save__text {
    font-size: 1.5rem;
  }
  .hero-item__body {
    padding-inline: 1.5rem;
  }
  .hero-item__body {
    padding-block-start: 0.8125rem;
  }
  .hero-item__body {
    padding-block-end: 2rem;
  }
  .benefit__title {
    font-size: 2.25rem;
  }
  .benefit__text {
    font-size: 1.125rem;
  }
  .page__hero {
    padding-block-start: 6.5625rem;
  }
  .page__hero {
    margin-block-end: 4.75rem;
  }
  .page__sleepy-shop {
    margin-block-end: 5.875rem;
  }
  .page__blog {
    padding-block-start: 6rem;
  }
  .hero__title {
    font-size: 4rem;
  }
  .hero__text {
    font-size: 1.25rem;
  }
  .hero__items {
    padding: 1.875rem;
  }
  .sleepy-shop__container {
    padding-block-start: 4.25rem;
  }
  .sleepy-shop__container {
    padding-block-end: 1.3125rem;
  }
  .catalog__element-title {
    margin-block-end: 4.5rem;
  }
  .catalog__tab {
    padding-block-end: 2.375rem;
  }
  .catalog__save {
    padding-block-start: 9rem;
  }
  .blog__form {
    padding-block-start: 9rem;
  }
  .blog__form {
    padding-block-end: 2.75rem;
  }
}

@media (any-hover: hover){
  .shop__button:hover {
    opacity: 0.6;
  }
  .menu__link:hover::after {
    opacity: 1;
  }
  .form__button:hover {
    opacity: 0.4;
  }
}